openapi: 3.0.0
x-stoplight:
  id: ioucraedhqh9n
info:
  title: Sifchain - gRPC Gateway docs
  description: A REST interface for state queries
  version: 1.0.0
servers:
  - url: 'https://api.sifchain.finance'
    description: API Gateway
paths:
  '/sifchain/clp/v1/asset_list/{lp_address}':
    get:
      operationId: GetAssetList
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties:
              assets:
                type: array
                items:
                  type: object
                  properties:
                    symbol:
                      type: string
              height:
                type: string
                format: int64
              pagination:
                type: object
                properties:
                  next_key:
                    type: string
                    format: byte
                    title: |-
                      next_key is the key to be passed to PageRequest.key to
                      query the next page most efficiently
                  total:
                    type: string
                    format: uint64
                    title: |-
                      total is total number of results available if PageRequest.count_total
                      was set, its value is undefined otherwise
                description: |-
                  PageResponse is to be embedded in gRPC response messages where the
                  corresponding request message has used PageRequest.

                   message SomeResponse {
                           repeated Bar results = 1;
                           PageResponse page = 2;
                   }
        default:
          description: An unexpected error response.
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: integer
                format: int32
              message:
                type: string
              details:
                type: array
                items:
                  type: object
                  properties:
                    type_url:
                      type: string
                    value:
                      type: string
                      format: byte
      parameters:
        - name: lp_address
          in: path
          required: true
          type: string
        - name: pagination.key
          description: |-
            key is a value returned in PageResponse.next_key to begin
            querying the next page most efficiently. Only one of offset or key
            should be set.
          in: query
          required: false
          type: string
          format: byte
        - name: pagination.offset
          description: |-
            offset is a numeric offset that can be used when key is unavailable.
            It is less efficient than using key. Only one of offset or key should
            be set.
          in: query
          required: false
          type: string
          format: uint64
        - name: pagination.limit
          description: |-
            limit is the total number of results to be returned in the result page.
            If left empty it will default to a value to be set by each app.
          in: query
          required: false
          type: string
          format: uint64
        - name: pagination.count_total
          description: |-
            count_total is set to true  to indicate that the result set should include
            a count of the total number of items available for pagination in UIs.
            count_total is only respected when offset is used. It is ignored when key
            is set.
          in: query
          required: false
          type: boolean
      summary: ''
      description: ''
  /sifchain/clp/v1/liquidity_protection_params:
    get:
      operationId: GetLiquidityProtectionParams
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties:
              params:
                type: object
                properties:
                  max_rowan_liquidity_threshold:
                    type: string
                  max_rowan_liquidity_threshold_asset:
                    type: string
                  epoch_length:
                    type: string
                    format: uint64
                  is_active:
                    type: boolean
              rate_params:
                type: object
                properties:
                  current_rowan_liquidity_threshold:
                    type: string
              height:
                type: string
                format: int64
        default:
          description: An unexpected error response.
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: integer
                format: int32
              message:
                type: string
              details:
                type: array
                items:
                  type: object
                  properties:
                    type_url:
                      type: string
                    value:
                      type: string
                      format: byte
      tags:
        - Query
  '/sifchain/clp/v1/liquidity_provider/{symbol}/{lp_address}':
    get:
      operationId: GetLiquidityProvider
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties:
              liquidity_provider:
                type: object
                properties:
                  asset:
                    type: object
                    properties:
                      symbol:
                        type: string
                  liquidity_provider_units:
                    type: string
                  liquidity_provider_address:
                    type: string
                  unlocks:
                    type: array
                    items:
                      type: object
                      properties:
                        request_height:
                          type: string
                          format: int64
                        units:
                          type: string
              native_asset_balance:
                type: string
              external_asset_balance:
                type: string
              height:
                type: string
                format: int64
        default:
          description: An unexpected error response.
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: integer
                format: int32
              message:
                type: string
              details:
                type: array
                items:
                  type: object
                  properties:
                    type_url:
                      type: string
                    value:
                      type: string
                      format: byte
      parameters:
        - name: symbol
          in: path
          required: true
          type: string
        - name: lp_address
          in: path
          required: true
          type: string
      tags:
        - Query
  '/sifchain/clp/v1/liquidity_provider_data/{lp_address}':
    get:
      operationId: GetLiquidityProviderData
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties:
              liquidity_provider_data:
                type: array
                items:
                  type: object
                  properties:
                    liquidity_provider:
                      type: object
                      properties:
                        asset:
                          type: object
                          properties:
                            symbol:
                              type: string
                        liquidity_provider_units:
                          type: string
                        liquidity_provider_address:
                          type: string
                        unlocks:
                          type: array
                          items:
                            type: object
                            properties:
                              request_height:
                                type: string
                                format: int64
                              units:
                                type: string
                    native_asset_balance:
                      type: string
                    external_asset_balance:
                      type: string
              height:
                type: string
                format: int64
              pagination:
                type: object
                properties:
                  key:
                    type: string
                    format: byte
                    description: |-
                      key is a value returned in PageResponse.next_key to begin
                      querying the next page most efficiently. Only one of offset or key
                      should be set.
                  offset:
                    type: string
                    format: uint64
                    description: |-
                      offset is a numeric offset that can be used when key is unavailable.
                      It is less efficient than using key. Only one of offset or key should
                      be set.
                  limit:
                    type: string
                    format: uint64
                    description: |-
                      limit is the total number of results to be returned in the result page.
                      If left empty it will default to a value to be set by each app.
                  count_total:
                    type: boolean
                    description: |-
                      count_total is set to true  to indicate that the result set should include
                      a count of the total number of items available for pagination in UIs.
                      count_total is only respected when offset is used. It is ignored when key
                      is set.
                description: |-
                  message SomeRequest {
                           Foo some_parameter = 1;
                           PageRequest pagination = 2;
                   }
                title: |-
                  PageRequest is to be embedded in gRPC request messages for efficient
                  pagination. Ex:
        default:
          description: An unexpected error response.
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: integer
                format: int32
              message:
                type: string
              details:
                type: array
                items:
                  type: object
                  properties:
                    type_url:
                      type: string
                    value:
                      type: string
                      format: byte
      parameters:
        - name: lp_address
          in: path
          required: true
          type: string
        - name: pagination.key
          description: |-
            key is a value returned in PageResponse.next_key to begin
            querying the next page most efficiently. Only one of offset or key
            should be set.
          in: query
          required: false
          type: string
          format: byte
        - name: pagination.offset
          description: |-
            offset is a numeric offset that can be used when key is unavailable.
            It is less efficient than using key. Only one of offset or key should
            be set.
          in: query
          required: false
          type: string
          format: uint64
        - name: pagination.limit
          description: |-
            limit is the total number of results to be returned in the result page.
            If left empty it will default to a value to be set by each app.
          in: query
          required: false
          type: string
          format: uint64
        - name: pagination.count_total
          description: |-
            count_total is set to true  to indicate that the result set should include
            a count of the total number of items available for pagination in UIs.
            count_total is only respected when offset is used. It is ignored when key
            is set.
          in: query
          required: false
          type: boolean
      tags:
        - Query
  '/sifchain/clp/v1/liquidity_provider_list/{symbol}':
    get:
      operationId: GetLiquidityProviderList
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties:
              liquidity_providers:
                type: array
                items:
                  type: object
                  properties:
                    asset:
                      type: object
                      properties:
                        symbol:
                          type: string
                    liquidity_provider_units:
                      type: string
                    liquidity_provider_address:
                      type: string
                    unlocks:
                      type: array
                      items:
                        type: object
                        properties:
                          request_height:
                            type: string
                            format: int64
                          units:
                            type: string
              height:
                type: string
                format: int64
              pagination:
                type: object
                properties:
                  next_key:
                    type: string
                    format: byte
                    title: |-
                      next_key is the key to be passed to PageRequest.key to
                      query the next page most efficiently
                  total:
                    type: string
                    format: uint64
                    title: |-
                      total is total number of results available if PageRequest.count_total
                      was set, its value is undefined otherwise
                description: |-
                  PageResponse is to be embedded in gRPC response messages where the
                  corresponding request message has used PageRequest.

                   message SomeResponse {
                           repeated Bar results = 1;
                           PageResponse page = 2;
                   }
        default:
          description: An unexpected error response.
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: integer
                format: int32
              message:
                type: string
              details:
                type: array
                items:
                  type: object
                  properties:
                    type_url:
                      type: string
                    value:
                      type: string
                      format: byte
      parameters:
        - name: symbol
          in: path
          required: true
          type: string
        - name: pagination.key
          description: |-
            key is a value returned in PageResponse.next_key to begin
            querying the next page most efficiently. Only one of offset or key
            should be set.
          in: query
          required: false
          type: string
          format: byte
        - name: pagination.offset
          description: |-
            offset is a numeric offset that can be used when key is unavailable.
            It is less efficient than using key. Only one of offset or key should
            be set.
          in: query
          required: false
          type: string
          format: uint64
        - name: pagination.limit
          description: |-
            limit is the total number of results to be returned in the result page.
            If left empty it will default to a value to be set by each app.
          in: query
          required: false
          type: string
          format: uint64
        - name: pagination.count_total
          description: |-
            count_total is set to true  to indicate that the result set should include
            a count of the total number of items available for pagination in UIs.
            count_total is only respected when offset is used. It is ignored when key
            is set.
          in: query
          required: false
          type: boolean
      tags:
        - Query
  /sifchain/clp/v1/liquidity_providers:
    get:
      operationId: GetLiquidityProviders
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties:
              liquidity_providers:
                type: array
                items:
                  type: object
                  properties:
                    asset:
                      type: object
                      properties:
                        symbol:
                          type: string
                    liquidity_provider_units:
                      type: string
                    liquidity_provider_address:
                      type: string
                    unlocks:
                      type: array
                      items:
                        type: object
                        properties:
                          request_height:
                            type: string
                            format: int64
                          units:
                            type: string
              height:
                type: string
                format: int64
              pagination:
                type: object
                properties:
                  next_key:
                    type: string
                    format: byte
                    title: |-
                      next_key is the key to be passed to PageRequest.key to
                      query the next page most efficiently
                  total:
                    type: string
                    format: uint64
                    title: |-
                      total is total number of results available if PageRequest.count_total
                      was set, its value is undefined otherwise
                description: |-
                  PageResponse is to be embedded in gRPC response messages where the
                  corresponding request message has used PageRequest.

                   message SomeResponse {
                           repeated Bar results = 1;
                           PageResponse page = 2;
                   }
        default:
          description: An unexpected error response.
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: integer
                format: int32
              message:
                type: string
              details:
                type: array
                items:
                  type: object
                  properties:
                    type_url:
                      type: string
                    value:
                      type: string
                      format: byte
      parameters:
        - name: pagination.key
          description: |-
            key is a value returned in PageResponse.next_key to begin
            querying the next page most efficiently. Only one of offset or key
            should be set.
          in: query
          required: false
          type: string
          format: byte
        - name: pagination.offset
          description: |-
            offset is a numeric offset that can be used when key is unavailable.
            It is less efficient than using key. Only one of offset or key should
            be set.
          in: query
          required: false
          type: string
          format: uint64
        - name: pagination.limit
          description: |-
            limit is the total number of results to be returned in the result page.
            If left empty it will default to a value to be set by each app.
          in: query
          required: false
          type: string
          format: uint64
        - name: pagination.count_total
          description: |-
            count_total is set to true  to indicate that the result set should include
            a count of the total number of items available for pagination in UIs.
            count_total is only respected when offset is used. It is ignored when key
            is set.
          in: query
          required: false
          type: boolean
      tags:
        - Query
  /sifchain/clp/v1/params:
    get:
      operationId: GetParams
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties:
              params:
                type: object
                properties:
                  min_create_pool_threshold:
                    type: string
                    format: uint64
                title: Params - used for initializing default parameter for clp at genesis
              symmetry_threshold:
                type: string
              symmetry_ratio_threshold:
                type: string
        default:
          description: An unexpected error response.
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: integer
                format: int32
              message:
                type: string
              details:
                type: array
                items:
                  type: object
                  properties:
                    type_url:
                      type: string
                    value:
                      type: string
                      format: byte
      tags:
        - Query
  /sifchain/clp/v1/pmtp_params:
    get:
      operationId: GetPmtpParams
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties:
              params:
                type: object
                properties:
                  pmtp_period_governance_rate:
                    type: string
                  pmtp_period_epoch_length:
                    type: string
                    format: int64
                  pmtp_period_start_block:
                    type: string
                    format: int64
                  pmtp_period_end_block:
                    type: string
                    format: int64
              pmtp_rate_params:
                type: object
                properties:
                  pmtp_period_block_rate:
                    type: string
                  pmtp_current_running_rate:
                    type: string
                  pmtp_inter_policy_rate:
                    type: string
                title: These params are non-governable and are calculated on chain
              pmtp_epoch:
                type: object
                properties:
                  epoch_counter:
                    type: string
                    format: int64
                  block_counter:
                    type: string
                    format: int64
              height:
                type: string
                format: int64
        default:
          description: An unexpected error response.
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: integer
                format: int32
              message:
                type: string
              details:
                type: array
                items:
                  type: object
                  properties:
                    type_url:
                      type: string
                    value:
                      type: string
                      format: byte
      tags:
        - Query
  '/sifchain/clp/v1/pool/{symbol}':
    get:
      operationId: GetPool
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties:
              pool:
                type: object
                properties:
                  external_asset:
                    type: object
                    properties:
                      symbol:
                        type: string
                  native_asset_balance:
                    type: string
                  external_asset_balance:
                    type: string
                  pool_units:
                    type: string
                  swap_price_native:
                    type: string
                  swap_price_external:
                    type: string
                  reward_period_native_distributed:
                    type: string
              clp_module_address:
                type: string
              height:
                type: string
                format: int64
        default:
          description: An unexpected error response.
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: integer
                format: int32
              message:
                type: string
              details:
                type: array
                items:
                  type: object
                  properties:
                    type_url:
                      type: string
                    value:
                      type: string
                      format: byte
      parameters:
        - name: symbol
          in: path
          required: true
          type: string
      tags:
        - Query
  /sifchain/clp/v1/pools:
    get:
      operationId: GetPools
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties:
              pools:
                type: array
                items:
                  type: object
                  properties:
                    external_asset:
                      type: object
                      properties:
                        symbol:
                          type: string
                    native_asset_balance:
                      type: string
                    external_asset_balance:
                      type: string
                    pool_units:
                      type: string
                    swap_price_native:
                      type: string
                    swap_price_external:
                      type: string
                    reward_period_native_distributed:
                      type: string
              clp_module_address:
                type: string
              height:
                type: string
                format: int64
              pagination:
                type: object
                properties:
                  next_key:
                    type: string
                    format: byte
                    title: |-
                      next_key is the key to be passed to PageRequest.key to
                      query the next page most efficiently
                  total:
                    type: string
                    format: uint64
                    title: |-
                      total is total number of results available if PageRequest.count_total
                      was set, its value is undefined otherwise
                description: |-
                  PageResponse is to be embedded in gRPC response messages where the
                  corresponding request message has used PageRequest.

                   message SomeResponse {
                           repeated Bar results = 1;
                           PageResponse page = 2;
                   }
        default:
          description: An unexpected error response.
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: integer
                format: int32
              message:
                type: string
              details:
                type: array
                items:
                  type: object
                  properties:
                    type_url:
                      type: string
                    value:
                      type: string
                      format: byte
      parameters:
        - name: pagination.key
          description: |-
            key is a value returned in PageResponse.next_key to begin
            querying the next page most efficiently. Only one of offset or key
            should be set.
          in: query
          required: false
          type: string
          format: byte
        - name: pagination.offset
          description: |-
            offset is a numeric offset that can be used when key is unavailable.
            It is less efficient than using key. Only one of offset or key should
            be set.
          in: query
          required: false
          type: string
          format: uint64
        - name: pagination.limit
          description: |-
            limit is the total number of results to be returned in the result page.
            If left empty it will default to a value to be set by each app.
          in: query
          required: false
          type: string
          format: uint64
        - name: pagination.count_total
          description: |-
            count_total is set to true  to indicate that the result set should include
            a count of the total number of items available for pagination in UIs.
            count_total is only respected when offset is used. It is ignored when key
            is set.
          in: query
          required: false
          type: boolean
      tags:
        - Query
  /sifchain/clp/v1/provider_distribution_params:
    get:
      operationId: GetProviderDistributionParams
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties:
              params:
                type: object
                properties:
                  distribution_periods:
                    type: array
                    items:
                      type: object
                      properties:
                        distribution_period_block_rate:
                          type: string
                        distribution_period_start_block:
                          type: string
                          format: uint64
                        distribution_period_end_block:
                          type: string
                          format: uint64
                        distribution_period_mod:
                          type: string
                          format: uint64
        default:
          description: An unexpected error response.
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: integer
                format: int32
              message:
                type: string
              details:
                type: array
                items:
                  type: object
                  properties:
                    type_url:
                      type: string
                    value:
                      type: string
                      format: byte
      tags:
        - Query
  /sifchain/clp/v1/reward_params:
    get:
      operationId: GetRewardParams
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties:
              params:
                type: object
                properties:
                  liquidity_removal_lock_period:
                    type: string
                    format: uint64
                  liquidity_removal_cancel_period:
                    type: string
                    format: uint64
                  reward_periods:
                    type: array
                    items:
                      type: object
                      properties:
                        reward_period_id:
                          type: string
                        reward_period_start_block:
                          type: string
                          format: uint64
                        reward_period_end_block:
                          type: string
                          format: uint64
                        reward_period_allocation:
                          type: string
                        reward_period_pool_multipliers:
                          type: array
                          items:
                            type: object
                            properties:
                              pool_multiplier_asset:
                                type: string
                              multiplier:
                                type: string
                        reward_period_default_multiplier:
                          type: string
                        reward_period_distribute:
                          type: boolean
                        reward_period_mod:
                          type: string
                          format: uint64
                  reward_period_start_time:
                    type: string
        default:
          description: An unexpected error response.
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: integer
                format: int32
              message:
                type: string
              details:
                type: array
                items:
                  type: object
                  properties:
                    type_url:
                      type: string
                    value:
                      type: string
                      format: byte
      tags:
        - Query
  /sifchain/tokenregistry/v1beta1/entries:
    get:
      operationId: Entries
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties:
              registry:
                type: object
                properties:
                  entries:
                    type: array
                    items:
                      type: object
                      properties:
                        decimals:
                          type: string
                          format: int64
                        denom:
                          type: string
                        base_denom:
                          type: string
                        path:
                          type: string
                        ibc_channel_id:
                          type: string
                        ibc_counterparty_channel_id:
                          type: string
                        display_name:
                          type: string
                        display_symbol:
                          type: string
                        network:
                          type: string
                        address:
                          type: string
                        external_symbol:
                          type: string
                        transfer_limit:
                          type: string
                        permissions:
                          type: array
                          items:
                            type: string
                            enum:
                              - UNSPECIFIED
                              - CLP
                              - IBCEXPORT
                              - IBCIMPORT
                              - DISABLE_BUY
                              - DISABLE_SELL
                            default: UNSPECIFIED
                        unit_denom:
                          type: string
                          title: |-
                            The name of denomination unit of this token that is the smallest unit
                            stored. IBC imports of this RegistryEntry convert and store funds as
                            unit_denom. Several different denom units of a token may be imported into
                            this same unit denom, they should all be stored under the same unit_denom
                            if they are the same token. When exporting a RegistryEntry where unit_denom
                            != denom, then unit_denom can, in future, be used to indicate the source of
                            funds for a denom unit that does not actually exist on chain, enabling
                            other chains to overcome the uint64 limit on the packet level and import
                            large amounts of high precision tokens easily. ie. microrowan -> rowan i.e
                            rowan -> rowan
                        ibc_counterparty_denom:
                          type: string
                          title: |-
                            The name of denomination unit of this token that should appear on
                            counterparty chain when this unit is exported. If empty, the denom is
                            exported as is. Generally this will only be used to map a high precision
                            (unit_denom) to a lower precision, to overcome the current uint64 limit on
                            the packet level. i.e rowan -> microrowan i.e microrowan -> microrowan
                        ibc_counterparty_chain_id:
                          type: string
        default:
          description: An unexpected error response.
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: integer
                format: int32
              message:
                type: string
              details:
                type: array
                items:
                  type: object
                  properties:
                    type_url:
                      type: string
                    value:
                      type: string
                      format: byte
      tags:
        - Query
definitions:
  google.protobuf.Any:
    type: object
    properties:
      type_url:
        type: string
      value:
        type: string
        format: byte
  grpc.gateway.runtime.Error:
    type: object
    properties:
      error:
        type: string
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          type: object
          properties:
            type_url:
              type: string
            value:
              type: string
              format: byte
  sifnode.admin.v1.AdminAccount:
    type: object
    properties:
      admin_type:
        type: string
        enum:
          - CLPDEX
          - PMTPREWARDS
          - TOKENREGISTRY
          - ETHBRIDGE
          - ADMIN
        default: CLPDEX
      admin_address:
        type: string
  sifnode.admin.v1.AdminType:
    type: string
    enum:
      - CLPDEX
      - PMTPREWARDS
      - TOKENREGISTRY
      - ETHBRIDGE
      - ADMIN
    default: CLPDEX
  sifnode.admin.v1.ListAccountsResponse:
    type: object
    properties:
      keys:
        type: array
        items:
          type: object
          properties:
            admin_type:
              type: string
              enum:
                - CLPDEX
                - PMTPREWARDS
                - TOKENREGISTRY
                - ETHBRIDGE
                - ADMIN
              default: CLPDEX
            admin_address:
              type: string
  cosmos.base.query.v1beta1.PageRequest:
    type: object
    properties:
      key:
        type: string
        format: byte
        description: |-
          key is a value returned in PageResponse.next_key to begin
          querying the next page most efficiently. Only one of offset or key
          should be set.
      offset:
        type: string
        format: uint64
        description: |-
          offset is a numeric offset that can be used when key is unavailable.
          It is less efficient than using key. Only one of offset or key should
          be set.
      limit:
        type: string
        format: uint64
        description: |-
          limit is the total number of results to be returned in the result page.
          If left empty it will default to a value to be set by each app.
      count_total:
        type: boolean
        description: |-
          count_total is set to true  to indicate that the result set should include
          a count of the total number of items available for pagination in UIs.
          count_total is only respected when offset is used. It is ignored when key
          is set.
    description: |-
      message SomeRequest {
               Foo some_parameter = 1;
               PageRequest pagination = 2;
       }
    title: |-
      PageRequest is to be embedded in gRPC request messages for efficient
      pagination. Ex:
  cosmos.base.query.v1beta1.PageResponse:
    type: object
    properties:
      next_key:
        type: string
        format: byte
        title: |-
          next_key is the key to be passed to PageRequest.key to
          query the next page most efficiently
      total:
        type: string
        format: uint64
        title: |-
          total is total number of results available if PageRequest.count_total
          was set, its value is undefined otherwise
    description: |-
      PageResponse is to be embedded in gRPC response messages where the
      corresponding request message has used PageRequest.

       message SomeResponse {
               repeated Bar results = 1;
               PageResponse page = 2;
       }
  sifnode.clp.v1.Asset:
    type: object
    properties:
      symbol:
        type: string
  sifnode.clp.v1.AssetListRes:
    type: object
    properties:
      assets:
        type: array
        items:
          type: object
          properties:
            symbol:
              type: string
      height:
        type: string
        format: int64
      pagination:
        type: object
        properties:
          next_key:
            type: string
            format: byte
            title: |-
              next_key is the key to be passed to PageRequest.key to
              query the next page most efficiently
          total:
            type: string
            format: uint64
            title: |-
              total is total number of results available if PageRequest.count_total
              was set, its value is undefined otherwise
        description: |-
          PageResponse is to be embedded in gRPC response messages where the
          corresponding request message has used PageRequest.

           message SomeResponse {
                   repeated Bar results = 1;
                   PageResponse page = 2;
           }
  sifnode.clp.v1.LiquidityProtectionParams:
    type: object
    properties:
      max_rowan_liquidity_threshold:
        type: string
      max_rowan_liquidity_threshold_asset:
        type: string
      epoch_length:
        type: string
        format: uint64
      is_active:
        type: boolean
  sifnode.clp.v1.LiquidityProtectionParamsRes:
    type: object
    properties:
      params:
        type: object
        properties:
          max_rowan_liquidity_threshold:
            type: string
          max_rowan_liquidity_threshold_asset:
            type: string
          epoch_length:
            type: string
            format: uint64
          is_active:
            type: boolean
      rate_params:
        type: object
        properties:
          current_rowan_liquidity_threshold:
            type: string
      height:
        type: string
        format: int64
  sifnode.clp.v1.LiquidityProtectionRateParams:
    type: object
    properties:
      current_rowan_liquidity_threshold:
        type: string
  sifnode.clp.v1.LiquidityProvider:
    type: object
    properties:
      asset:
        type: object
        properties:
          symbol:
            type: string
      liquidity_provider_units:
        type: string
      liquidity_provider_address:
        type: string
      unlocks:
        type: array
        items:
          type: object
          properties:
            request_height:
              type: string
              format: int64
            units:
              type: string
  sifnode.clp.v1.LiquidityProviderData:
    type: object
    properties:
      liquidity_provider:
        type: object
        properties:
          asset:
            type: object
            properties:
              symbol:
                type: string
          liquidity_provider_units:
            type: string
          liquidity_provider_address:
            type: string
          unlocks:
            type: array
            items:
              type: object
              properties:
                request_height:
                  type: string
                  format: int64
                units:
                  type: string
      native_asset_balance:
        type: string
      external_asset_balance:
        type: string
  sifnode.clp.v1.LiquidityProviderDataRes:
    type: object
    properties:
      liquidity_provider_data:
        type: array
        items:
          type: object
          properties:
            liquidity_provider:
              type: object
              properties:
                asset:
                  type: object
                  properties:
                    symbol:
                      type: string
                liquidity_provider_units:
                  type: string
                liquidity_provider_address:
                  type: string
                unlocks:
                  type: array
                  items:
                    type: object
                    properties:
                      request_height:
                        type: string
                        format: int64
                      units:
                        type: string
            native_asset_balance:
              type: string
            external_asset_balance:
              type: string
      height:
        type: string
        format: int64
      pagination:
        type: object
        properties:
          key:
            type: string
            format: byte
            description: |-
              key is a value returned in PageResponse.next_key to begin
              querying the next page most efficiently. Only one of offset or key
              should be set.
          offset:
            type: string
            format: uint64
            description: |-
              offset is a numeric offset that can be used when key is unavailable.
              It is less efficient than using key. Only one of offset or key should
              be set.
          limit:
            type: string
            format: uint64
            description: |-
              limit is the total number of results to be returned in the result page.
              If left empty it will default to a value to be set by each app.
          count_total:
            type: boolean
            description: |-
              count_total is set to true  to indicate that the result set should include
              a count of the total number of items available for pagination in UIs.
              count_total is only respected when offset is used. It is ignored when key
              is set.
        description: |-
          message SomeRequest {
                   Foo some_parameter = 1;
                   PageRequest pagination = 2;
           }
        title: |-
          PageRequest is to be embedded in gRPC request messages for efficient
          pagination. Ex:
  sifnode.clp.v1.LiquidityProviderListRes:
    type: object
    properties:
      liquidity_providers:
        type: array
        items:
          type: object
          properties:
            asset:
              type: object
              properties:
                symbol:
                  type: string
            liquidity_provider_units:
              type: string
            liquidity_provider_address:
              type: string
            unlocks:
              type: array
              items:
                type: object
                properties:
                  request_height:
                    type: string
                    format: int64
                  units:
                    type: string
      height:
        type: string
        format: int64
      pagination:
        type: object
        properties:
          next_key:
            type: string
            format: byte
            title: |-
              next_key is the key to be passed to PageRequest.key to
              query the next page most efficiently
          total:
            type: string
            format: uint64
            title: |-
              total is total number of results available if PageRequest.count_total
              was set, its value is undefined otherwise
        description: |-
          PageResponse is to be embedded in gRPC response messages where the
          corresponding request message has used PageRequest.

           message SomeResponse {
                   repeated Bar results = 1;
                   PageResponse page = 2;
           }
  sifnode.clp.v1.LiquidityProviderRes:
    type: object
    properties:
      liquidity_provider:
        type: object
        properties:
          asset:
            type: object
            properties:
              symbol:
                type: string
          liquidity_provider_units:
            type: string
          liquidity_provider_address:
            type: string
          unlocks:
            type: array
            items:
              type: object
              properties:
                request_height:
                  type: string
                  format: int64
                units:
                  type: string
      native_asset_balance:
        type: string
      external_asset_balance:
        type: string
      height:
        type: string
        format: int64
  sifnode.clp.v1.LiquidityProvidersRes:
    type: object
    properties:
      liquidity_providers:
        type: array
        items:
          type: object
          properties:
            asset:
              type: object
              properties:
                symbol:
                  type: string
            liquidity_provider_units:
              type: string
            liquidity_provider_address:
              type: string
            unlocks:
              type: array
              items:
                type: object
                properties:
                  request_height:
                    type: string
                    format: int64
                  units:
                    type: string
      height:
        type: string
        format: int64
      pagination:
        type: object
        properties:
          next_key:
            type: string
            format: byte
            title: |-
              next_key is the key to be passed to PageRequest.key to
              query the next page most efficiently
          total:
            type: string
            format: uint64
            title: |-
              total is total number of results available if PageRequest.count_total
              was set, its value is undefined otherwise
        description: |-
          PageResponse is to be embedded in gRPC response messages where the
          corresponding request message has used PageRequest.

           message SomeResponse {
                   repeated Bar results = 1;
                   PageResponse page = 2;
           }
  sifnode.clp.v1.LiquidityUnlock:
    type: object
    properties:
      request_height:
        type: string
        format: int64
      units:
        type: string
  sifnode.clp.v1.Params:
    type: object
    properties:
      min_create_pool_threshold:
        type: string
        format: uint64
    title: Params - used for initializing default parameter for clp at genesis
  sifnode.clp.v1.ParamsRes:
    type: object
    properties:
      params:
        type: object
        properties:
          min_create_pool_threshold:
            type: string
            format: uint64
        title: Params - used for initializing default parameter for clp at genesis
      symmetry_threshold:
        type: string
      symmetry_ratio_threshold:
        type: string
  sifnode.clp.v1.PmtpEpoch:
    type: object
    properties:
      epoch_counter:
        type: string
        format: int64
      block_counter:
        type: string
        format: int64
  sifnode.clp.v1.PmtpParams:
    type: object
    properties:
      pmtp_period_governance_rate:
        type: string
      pmtp_period_epoch_length:
        type: string
        format: int64
      pmtp_period_start_block:
        type: string
        format: int64
      pmtp_period_end_block:
        type: string
        format: int64
  sifnode.clp.v1.PmtpParamsRes:
    type: object
    properties:
      params:
        type: object
        properties:
          pmtp_period_governance_rate:
            type: string
          pmtp_period_epoch_length:
            type: string
            format: int64
          pmtp_period_start_block:
            type: string
            format: int64
          pmtp_period_end_block:
            type: string
            format: int64
      pmtp_rate_params:
        type: object
        properties:
          pmtp_period_block_rate:
            type: string
          pmtp_current_running_rate:
            type: string
          pmtp_inter_policy_rate:
            type: string
        title: These params are non-governable and are calculated on chain
      pmtp_epoch:
        type: object
        properties:
          epoch_counter:
            type: string
            format: int64
          block_counter:
            type: string
            format: int64
      height:
        type: string
        format: int64
  sifnode.clp.v1.PmtpRateParams:
    type: object
    properties:
      pmtp_period_block_rate:
        type: string
      pmtp_current_running_rate:
        type: string
      pmtp_inter_policy_rate:
        type: string
    title: These params are non-governable and are calculated on chain
  sifnode.clp.v1.Pool:
    type: object
    properties:
      external_asset:
        type: object
        properties:
          symbol:
            type: string
      native_asset_balance:
        type: string
      external_asset_balance:
        type: string
      pool_units:
        type: string
      swap_price_native:
        type: string
      swap_price_external:
        type: string
      reward_period_native_distributed:
        type: string
  sifnode.clp.v1.PoolMultiplier:
    type: object
    properties:
      pool_multiplier_asset:
        type: string
      multiplier:
        type: string
  sifnode.clp.v1.PoolRes:
    type: object
    properties:
      pool:
        type: object
        properties:
          external_asset:
            type: object
            properties:
              symbol:
                type: string
          native_asset_balance:
            type: string
          external_asset_balance:
            type: string
          pool_units:
            type: string
          swap_price_native:
            type: string
          swap_price_external:
            type: string
          reward_period_native_distributed:
            type: string
      clp_module_address:
        type: string
      height:
        type: string
        format: int64
  sifnode.clp.v1.PoolsRes:
    type: object
    properties:
      pools:
        type: array
        items:
          type: object
          properties:
            external_asset:
              type: object
              properties:
                symbol:
                  type: string
            native_asset_balance:
              type: string
            external_asset_balance:
              type: string
            pool_units:
              type: string
            swap_price_native:
              type: string
            swap_price_external:
              type: string
            reward_period_native_distributed:
              type: string
      clp_module_address:
        type: string
      height:
        type: string
        format: int64
      pagination:
        type: object
        properties:
          next_key:
            type: string
            format: byte
            title: |-
              next_key is the key to be passed to PageRequest.key to
              query the next page most efficiently
          total:
            type: string
            format: uint64
            title: |-
              total is total number of results available if PageRequest.count_total
              was set, its value is undefined otherwise
        description: |-
          PageResponse is to be embedded in gRPC response messages where the
          corresponding request message has used PageRequest.

           message SomeResponse {
                   repeated Bar results = 1;
                   PageResponse page = 2;
           }
  sifnode.clp.v1.ProviderDistributionParams:
    type: object
    properties:
      distribution_periods:
        type: array
        items:
          type: object
          properties:
            distribution_period_block_rate:
              type: string
            distribution_period_start_block:
              type: string
              format: uint64
            distribution_period_end_block:
              type: string
              format: uint64
            distribution_period_mod:
              type: string
              format: uint64
  sifnode.clp.v1.ProviderDistributionParamsRes:
    type: object
    properties:
      params:
        type: object
        properties:
          distribution_periods:
            type: array
            items:
              type: object
              properties:
                distribution_period_block_rate:
                  type: string
                distribution_period_start_block:
                  type: string
                  format: uint64
                distribution_period_end_block:
                  type: string
                  format: uint64
                distribution_period_mod:
                  type: string
                  format: uint64
  sifnode.clp.v1.ProviderDistributionPeriod:
    type: object
    properties:
      distribution_period_block_rate:
        type: string
      distribution_period_start_block:
        type: string
        format: uint64
      distribution_period_end_block:
        type: string
        format: uint64
      distribution_period_mod:
        type: string
        format: uint64
  sifnode.clp.v1.RewardParams:
    type: object
    properties:
      liquidity_removal_lock_period:
        type: string
        format: uint64
      liquidity_removal_cancel_period:
        type: string
        format: uint64
      reward_periods:
        type: array
        items:
          type: object
          properties:
            reward_period_id:
              type: string
            reward_period_start_block:
              type: string
              format: uint64
            reward_period_end_block:
              type: string
              format: uint64
            reward_period_allocation:
              type: string
            reward_period_pool_multipliers:
              type: array
              items:
                type: object
                properties:
                  pool_multiplier_asset:
                    type: string
                  multiplier:
                    type: string
            reward_period_default_multiplier:
              type: string
            reward_period_distribute:
              type: boolean
            reward_period_mod:
              type: string
              format: uint64
      reward_period_start_time:
        type: string
  sifnode.clp.v1.RewardParamsRes:
    type: object
    properties:
      params:
        type: object
        properties:
          liquidity_removal_lock_period:
            type: string
            format: uint64
          liquidity_removal_cancel_period:
            type: string
            format: uint64
          reward_periods:
            type: array
            items:
              type: object
              properties:
                reward_period_id:
                  type: string
                reward_period_start_block:
                  type: string
                  format: uint64
                reward_period_end_block:
                  type: string
                  format: uint64
                reward_period_allocation:
                  type: string
                reward_period_pool_multipliers:
                  type: array
                  items:
                    type: object
                    properties:
                      pool_multiplier_asset:
                        type: string
                      multiplier:
                        type: string
                reward_period_default_multiplier:
                  type: string
                reward_period_distribute:
                  type: boolean
                reward_period_mod:
                  type: string
                  format: uint64
          reward_period_start_time:
            type: string
  sifnode.clp.v1.RewardPeriod:
    type: object
    properties:
      reward_period_id:
        type: string
      reward_period_start_block:
        type: string
        format: uint64
      reward_period_end_block:
        type: string
        format: uint64
      reward_period_allocation:
        type: string
      reward_period_pool_multipliers:
        type: array
        items:
          type: object
          properties:
            pool_multiplier_asset:
              type: string
            multiplier:
              type: string
      reward_period_default_multiplier:
        type: string
      reward_period_distribute:
        type: boolean
      reward_period_mod:
        type: string
        format: uint64
  cosmos.base.v1beta1.Coin:
    type: object
    properties:
      denom:
        type: string
      amount:
        type: string
    description: |-
      Coin defines a token with a denomination and an amount.

      NOTE: The amount field is an Int which implements the custom method
      signatures required by gogoproto.
  sifnode.dispensation.v1.Distribution:
    type: object
    properties:
      distribution_type:
        type: string
        enum:
          - DISTRIBUTION_TYPE_UNSPECIFIED
          - DISTRIBUTION_TYPE_AIRDROP
          - DISTRIBUTION_TYPE_VALIDATOR_SUBSIDY
          - DISTRIBUTION_TYPE_LIQUIDITY_MINING
        default: DISTRIBUTION_TYPE_UNSPECIFIED
        description: |-
          - DISTRIBUTION_TYPE_UNSPECIFIED: Unspecified distribution type
           - DISTRIBUTION_TYPE_AIRDROP: Airdrop distribution type
           - DISTRIBUTION_TYPE_VALIDATOR_SUBSIDY: Validator Subsidy distribution type
           - DISTRIBUTION_TYPE_LIQUIDITY_MINING: Liquidity mining distribution type
        title: Distribution type enum
      distribution_name:
        type: string
      runner:
        type: string
  sifnode.dispensation.v1.DistributionRecord:
    type: object
    properties:
      distribution_status:
        type: string
        enum:
          - DISTRIBUTION_STATUS_UNSPECIFIED
          - DISTRIBUTION_STATUS_PENDING
          - DISTRIBUTION_STATUS_COMPLETED
          - DISTRIBUTION_STATUS_FAILED
        default: DISTRIBUTION_STATUS_UNSPECIFIED
        description: |-
          - DISTRIBUTION_STATUS_UNSPECIFIED: Unspecified
           - DISTRIBUTION_STATUS_PENDING: Pending status
           - DISTRIBUTION_STATUS_COMPLETED: Completed status
           - DISTRIBUTION_STATUS_FAILED: Failed status
        title: Claim status enum
      distribution_type:
        type: string
        enum:
          - DISTRIBUTION_TYPE_UNSPECIFIED
          - DISTRIBUTION_TYPE_AIRDROP
          - DISTRIBUTION_TYPE_VALIDATOR_SUBSIDY
          - DISTRIBUTION_TYPE_LIQUIDITY_MINING
        default: DISTRIBUTION_TYPE_UNSPECIFIED
        description: |-
          - DISTRIBUTION_TYPE_UNSPECIFIED: Unspecified distribution type
           - DISTRIBUTION_TYPE_AIRDROP: Airdrop distribution type
           - DISTRIBUTION_TYPE_VALIDATOR_SUBSIDY: Validator Subsidy distribution type
           - DISTRIBUTION_TYPE_LIQUIDITY_MINING: Liquidity mining distribution type
        title: Distribution type enum
      distribution_name:
        type: string
      recipient_address:
        type: string
      coins:
        type: array
        items:
          type: object
          properties:
            denom:
              type: string
            amount:
              type: string
          description: |-
            Coin defines a token with a denomination and an amount.

            NOTE: The amount field is an Int which implements the custom method
            signatures required by gogoproto.
      distribution_start_height:
        type: string
        format: int64
      distribution_completed_height:
        type: string
        format: int64
      authorized_runner:
        type: string
  sifnode.dispensation.v1.DistributionRecords:
    type: object
    properties:
      distribution_records:
        type: array
        items:
          type: object
          properties:
            distribution_status:
              type: string
              enum:
                - DISTRIBUTION_STATUS_UNSPECIFIED
                - DISTRIBUTION_STATUS_PENDING
                - DISTRIBUTION_STATUS_COMPLETED
                - DISTRIBUTION_STATUS_FAILED
              default: DISTRIBUTION_STATUS_UNSPECIFIED
              description: |-
                - DISTRIBUTION_STATUS_UNSPECIFIED: Unspecified
                 - DISTRIBUTION_STATUS_PENDING: Pending status
                 - DISTRIBUTION_STATUS_COMPLETED: Completed status
                 - DISTRIBUTION_STATUS_FAILED: Failed status
              title: Claim status enum
            distribution_type:
              type: string
              enum:
                - DISTRIBUTION_TYPE_UNSPECIFIED
                - DISTRIBUTION_TYPE_AIRDROP
                - DISTRIBUTION_TYPE_VALIDATOR_SUBSIDY
                - DISTRIBUTION_TYPE_LIQUIDITY_MINING
              default: DISTRIBUTION_TYPE_UNSPECIFIED
              description: |-
                - DISTRIBUTION_TYPE_UNSPECIFIED: Unspecified distribution type
                 - DISTRIBUTION_TYPE_AIRDROP: Airdrop distribution type
                 - DISTRIBUTION_TYPE_VALIDATOR_SUBSIDY: Validator Subsidy distribution type
                 - DISTRIBUTION_TYPE_LIQUIDITY_MINING: Liquidity mining distribution type
              title: Distribution type enum
            distribution_name:
              type: string
            recipient_address:
              type: string
            coins:
              type: array
              items:
                type: object
                properties:
                  denom:
                    type: string
                  amount:
                    type: string
                description: |-
                  Coin defines a token with a denomination and an amount.

                  NOTE: The amount field is an Int which implements the custom method
                  signatures required by gogoproto.
            distribution_start_height:
              type: string
              format: int64
            distribution_completed_height:
              type: string
              format: int64
            authorized_runner:
              type: string
  sifnode.dispensation.v1.DistributionStatus:
    type: string
    enum:
      - DISTRIBUTION_STATUS_UNSPECIFIED
      - DISTRIBUTION_STATUS_PENDING
      - DISTRIBUTION_STATUS_COMPLETED
      - DISTRIBUTION_STATUS_FAILED
    default: DISTRIBUTION_STATUS_UNSPECIFIED
    description: |-
      - DISTRIBUTION_STATUS_UNSPECIFIED: Unspecified
       - DISTRIBUTION_STATUS_PENDING: Pending status
       - DISTRIBUTION_STATUS_COMPLETED: Completed status
       - DISTRIBUTION_STATUS_FAILED: Failed status
    title: Claim status enum
  sifnode.dispensation.v1.DistributionType:
    type: string
    enum:
      - DISTRIBUTION_TYPE_UNSPECIFIED
      - DISTRIBUTION_TYPE_AIRDROP
      - DISTRIBUTION_TYPE_VALIDATOR_SUBSIDY
      - DISTRIBUTION_TYPE_LIQUIDITY_MINING
    default: DISTRIBUTION_TYPE_UNSPECIFIED
    description: |-
      - DISTRIBUTION_TYPE_UNSPECIFIED: Unspecified distribution type
       - DISTRIBUTION_TYPE_AIRDROP: Airdrop distribution type
       - DISTRIBUTION_TYPE_VALIDATOR_SUBSIDY: Validator Subsidy distribution type
       - DISTRIBUTION_TYPE_LIQUIDITY_MINING: Liquidity mining distribution type
    title: Distribution type enum
  sifnode.dispensation.v1.QueryAllDistributionsResponse:
    type: object
    properties:
      distributions:
        type: array
        items:
          type: object
          properties:
            distribution_type:
              type: string
              enum:
                - DISTRIBUTION_TYPE_UNSPECIFIED
                - DISTRIBUTION_TYPE_AIRDROP
                - DISTRIBUTION_TYPE_VALIDATOR_SUBSIDY
                - DISTRIBUTION_TYPE_LIQUIDITY_MINING
              default: DISTRIBUTION_TYPE_UNSPECIFIED
              description: |-
                - DISTRIBUTION_TYPE_UNSPECIFIED: Unspecified distribution type
                 - DISTRIBUTION_TYPE_AIRDROP: Airdrop distribution type
                 - DISTRIBUTION_TYPE_VALIDATOR_SUBSIDY: Validator Subsidy distribution type
                 - DISTRIBUTION_TYPE_LIQUIDITY_MINING: Liquidity mining distribution type
              title: Distribution type enum
            distribution_name:
              type: string
            runner:
              type: string
      height:
        type: string
        format: int64
  sifnode.dispensation.v1.QueryClaimsResponse:
    type: object
    properties:
      claims:
        type: array
        items:
          type: object
          properties:
            user_address:
              type: string
            user_claim_type:
              type: string
              enum:
                - DISTRIBUTION_TYPE_UNSPECIFIED
                - DISTRIBUTION_TYPE_AIRDROP
                - DISTRIBUTION_TYPE_VALIDATOR_SUBSIDY
                - DISTRIBUTION_TYPE_LIQUIDITY_MINING
              default: DISTRIBUTION_TYPE_UNSPECIFIED
              description: |-
                - DISTRIBUTION_TYPE_UNSPECIFIED: Unspecified distribution type
                 - DISTRIBUTION_TYPE_AIRDROP: Airdrop distribution type
                 - DISTRIBUTION_TYPE_VALIDATOR_SUBSIDY: Validator Subsidy distribution type
                 - DISTRIBUTION_TYPE_LIQUIDITY_MINING: Liquidity mining distribution type
              title: Distribution type enum
            user_claim_time:
              type: string
      height:
        type: string
        format: int64
  sifnode.dispensation.v1.QueryRecordsByDistributionNameResponse:
    type: object
    properties:
      distribution_records:
        type: object
        properties:
          distribution_records:
            type: array
            items:
              type: object
              properties:
                distribution_status:
                  type: string
                  enum:
                    - DISTRIBUTION_STATUS_UNSPECIFIED
                    - DISTRIBUTION_STATUS_PENDING
                    - DISTRIBUTION_STATUS_COMPLETED
                    - DISTRIBUTION_STATUS_FAILED
                  default: DISTRIBUTION_STATUS_UNSPECIFIED
                  description: |-
                    - DISTRIBUTION_STATUS_UNSPECIFIED: Unspecified
                     - DISTRIBUTION_STATUS_PENDING: Pending status
                     - DISTRIBUTION_STATUS_COMPLETED: Completed status
                     - DISTRIBUTION_STATUS_FAILED: Failed status
                  title: Claim status enum
                distribution_type:
                  type: string
                  enum:
                    - DISTRIBUTION_TYPE_UNSPECIFIED
                    - DISTRIBUTION_TYPE_AIRDROP
                    - DISTRIBUTION_TYPE_VALIDATOR_SUBSIDY
                    - DISTRIBUTION_TYPE_LIQUIDITY_MINING
                  default: DISTRIBUTION_TYPE_UNSPECIFIED
                  description: |-
                    - DISTRIBUTION_TYPE_UNSPECIFIED: Unspecified distribution type
                     - DISTRIBUTION_TYPE_AIRDROP: Airdrop distribution type
                     - DISTRIBUTION_TYPE_VALIDATOR_SUBSIDY: Validator Subsidy distribution type
                     - DISTRIBUTION_TYPE_LIQUIDITY_MINING: Liquidity mining distribution type
                  title: Distribution type enum
                distribution_name:
                  type: string
                recipient_address:
                  type: string
                coins:
                  type: array
                  items:
                    type: object
                    properties:
                      denom:
                        type: string
                      amount:
                        type: string
                    description: |-
                      Coin defines a token with a denomination and an amount.

                      NOTE: The amount field is an Int which implements the custom method
                      signatures required by gogoproto.
                distribution_start_height:
                  type: string
                  format: int64
                distribution_completed_height:
                  type: string
                  format: int64
                authorized_runner:
                  type: string
      height:
        type: string
        format: int64
  sifnode.dispensation.v1.QueryRecordsByRecipientAddrResponse:
    type: object
    properties:
      distribution_records:
        type: object
        properties:
          distribution_records:
            type: array
            items:
              type: object
              properties:
                distribution_status:
                  type: string
                  enum:
                    - DISTRIBUTION_STATUS_UNSPECIFIED
                    - DISTRIBUTION_STATUS_PENDING
                    - DISTRIBUTION_STATUS_COMPLETED
                    - DISTRIBUTION_STATUS_FAILED
                  default: DISTRIBUTION_STATUS_UNSPECIFIED
                  description: |-
                    - DISTRIBUTION_STATUS_UNSPECIFIED: Unspecified
                     - DISTRIBUTION_STATUS_PENDING: Pending status
                     - DISTRIBUTION_STATUS_COMPLETED: Completed status
                     - DISTRIBUTION_STATUS_FAILED: Failed status
                  title: Claim status enum
                distribution_type:
                  type: string
                  enum:
                    - DISTRIBUTION_TYPE_UNSPECIFIED
                    - DISTRIBUTION_TYPE_AIRDROP
                    - DISTRIBUTION_TYPE_VALIDATOR_SUBSIDY
                    - DISTRIBUTION_TYPE_LIQUIDITY_MINING
                  default: DISTRIBUTION_TYPE_UNSPECIFIED
                  description: |-
                    - DISTRIBUTION_TYPE_UNSPECIFIED: Unspecified distribution type
                     - DISTRIBUTION_TYPE_AIRDROP: Airdrop distribution type
                     - DISTRIBUTION_TYPE_VALIDATOR_SUBSIDY: Validator Subsidy distribution type
                     - DISTRIBUTION_TYPE_LIQUIDITY_MINING: Liquidity mining distribution type
                  title: Distribution type enum
                distribution_name:
                  type: string
                recipient_address:
                  type: string
                coins:
                  type: array
                  items:
                    type: object
                    properties:
                      denom:
                        type: string
                      amount:
                        type: string
                    description: |-
                      Coin defines a token with a denomination and an amount.

                      NOTE: The amount field is an Int which implements the custom method
                      signatures required by gogoproto.
                distribution_start_height:
                  type: string
                  format: int64
                distribution_completed_height:
                  type: string
                  format: int64
                authorized_runner:
                  type: string
      height:
        type: string
        format: int64
  sifnode.dispensation.v1.UserClaim:
    type: object
    properties:
      user_address:
        type: string
      user_claim_type:
        type: string
        enum:
          - DISTRIBUTION_TYPE_UNSPECIFIED
          - DISTRIBUTION_TYPE_AIRDROP
          - DISTRIBUTION_TYPE_VALIDATOR_SUBSIDY
          - DISTRIBUTION_TYPE_LIQUIDITY_MINING
        default: DISTRIBUTION_TYPE_UNSPECIFIED
        description: |-
          - DISTRIBUTION_TYPE_UNSPECIFIED: Unspecified distribution type
           - DISTRIBUTION_TYPE_AIRDROP: Airdrop distribution type
           - DISTRIBUTION_TYPE_VALIDATOR_SUBSIDY: Validator Subsidy distribution type
           - DISTRIBUTION_TYPE_LIQUIDITY_MINING: Liquidity mining distribution type
        title: Distribution type enum
      user_claim_time:
        type: string
  sifnode.ethbridge.v1.ClaimType:
    type: string
    enum:
      - CLAIM_TYPE_UNSPECIFIED
      - CLAIM_TYPE_BURN
      - CLAIM_TYPE_LOCK
    default: CLAIM_TYPE_UNSPECIFIED
    description: |-
      - CLAIM_TYPE_UNSPECIFIED: Unspecified claim type
       - CLAIM_TYPE_BURN: Burn claim type
       - CLAIM_TYPE_LOCK: Lock claim type
    title: Claim type enum
  sifnode.ethbridge.v1.EthBridgeClaim:
    type: object
    properties:
      ethereum_chain_id:
        type: string
        format: int64
      bridge_contract_address:
        type: string
        title: bridge_contract_address is an EthereumAddress
      nonce:
        type: string
        format: int64
      symbol:
        type: string
      token_contract_address:
        type: string
        title: token_contract_address is an EthereumAddress
      ethereum_sender:
        type: string
        title: ethereum_sender is an EthereumAddress
      cosmos_receiver:
        type: string
        title: cosmos_receiver is an sdk.AccAddress
      validator_address:
        type: string
        title: validator_address is an sdk.ValAddress
      amount:
        type: string
      claim_type:
        type: string
        enum:
          - CLAIM_TYPE_UNSPECIFIED
          - CLAIM_TYPE_BURN
          - CLAIM_TYPE_LOCK
        default: CLAIM_TYPE_UNSPECIFIED
        description: |-
          - CLAIM_TYPE_UNSPECIFIED: Unspecified claim type
           - CLAIM_TYPE_BURN: Burn claim type
           - CLAIM_TYPE_LOCK: Lock claim type
        title: Claim type enum
    title: |-
      EthBridgeClaim is a structure that contains all the data for a particular
      bridge claim
  sifnode.ethbridge.v1.QueryBlacklistResponse:
    type: object
    properties:
      addresses:
        type: array
        items:
          type: string
  sifnode.ethbridge.v1.QueryEthProphecyResponse:
    type: object
    properties:
      id:
        type: string
      status:
        type: object
        properties:
          text:
            type: string
            enum:
              - STATUS_TEXT_UNSPECIFIED
              - STATUS_TEXT_PENDING
              - STATUS_TEXT_SUCCESS
              - STATUS_TEXT_FAILED
            default: STATUS_TEXT_UNSPECIFIED
            description: |-
              - STATUS_TEXT_UNSPECIFIED: Default value
               - STATUS_TEXT_PENDING: Pending status
               - STATUS_TEXT_SUCCESS: Success status
               - STATUS_TEXT_FAILED: Failed status
            title: StatusText is an enum used to represent the status of the prophecy
          final_claim:
            type: string
        title: Status is a struct that contains the status of a given prophecy
      claims:
        type: array
        items:
          type: object
          properties:
            ethereum_chain_id:
              type: string
              format: int64
            bridge_contract_address:
              type: string
              title: bridge_contract_address is an EthereumAddress
            nonce:
              type: string
              format: int64
            symbol:
              type: string
            token_contract_address:
              type: string
              title: token_contract_address is an EthereumAddress
            ethereum_sender:
              type: string
              title: ethereum_sender is an EthereumAddress
            cosmos_receiver:
              type: string
              title: cosmos_receiver is an sdk.AccAddress
            validator_address:
              type: string
              title: validator_address is an sdk.ValAddress
            amount:
              type: string
            claim_type:
              type: string
              enum:
                - CLAIM_TYPE_UNSPECIFIED
                - CLAIM_TYPE_BURN
                - CLAIM_TYPE_LOCK
              default: CLAIM_TYPE_UNSPECIFIED
              description: |-
                - CLAIM_TYPE_UNSPECIFIED: Unspecified claim type
                 - CLAIM_TYPE_BURN: Burn claim type
                 - CLAIM_TYPE_LOCK: Lock claim type
              title: Claim type enum
          title: |-
            EthBridgeClaim is a structure that contains all the data for a particular
            bridge claim
    title: QueryEthProphecyResponse payload for EthProphecy rpc query
  sifnode.oracle.v1.Status:
    type: object
    properties:
      text:
        type: string
        enum:
          - STATUS_TEXT_UNSPECIFIED
          - STATUS_TEXT_PENDING
          - STATUS_TEXT_SUCCESS
          - STATUS_TEXT_FAILED
        default: STATUS_TEXT_UNSPECIFIED
        description: |-
          - STATUS_TEXT_UNSPECIFIED: Default value
           - STATUS_TEXT_PENDING: Pending status
           - STATUS_TEXT_SUCCESS: Success status
           - STATUS_TEXT_FAILED: Failed status
        title: StatusText is an enum used to represent the status of the prophecy
      final_claim:
        type: string
    title: Status is a struct that contains the status of a given prophecy
  sifnode.oracle.v1.StatusText:
    type: string
    enum:
      - STATUS_TEXT_UNSPECIFIED
      - STATUS_TEXT_PENDING
      - STATUS_TEXT_SUCCESS
      - STATUS_TEXT_FAILED
    default: STATUS_TEXT_UNSPECIFIED
    description: |-
      - STATUS_TEXT_UNSPECIFIED: Default value
       - STATUS_TEXT_PENDING: Pending status
       - STATUS_TEXT_SUCCESS: Success status
       - STATUS_TEXT_FAILED: Failed status
    title: StatusText is an enum used to represent the status of the prophecy
  sifnode.tokenregistry.v1.Permission:
    type: string
    enum:
      - UNSPECIFIED
      - CLP
      - IBCEXPORT
      - IBCIMPORT
      - DISABLE_BUY
      - DISABLE_SELL
    default: UNSPECIFIED
  sifnode.tokenregistry.v1.QueryEntriesResponse:
    type: object
    properties:
      registry:
        type: object
        properties:
          entries:
            type: array
            items:
              type: object
              properties:
                decimals:
                  type: string
                  format: int64
                denom:
                  type: string
                base_denom:
                  type: string
                path:
                  type: string
                ibc_channel_id:
                  type: string
                ibc_counterparty_channel_id:
                  type: string
                display_name:
                  type: string
                display_symbol:
                  type: string
                network:
                  type: string
                address:
                  type: string
                external_symbol:
                  type: string
                transfer_limit:
                  type: string
                permissions:
                  type: array
                  items:
                    type: string
                    enum:
                      - UNSPECIFIED
                      - CLP
                      - IBCEXPORT
                      - IBCIMPORT
                      - DISABLE_BUY
                      - DISABLE_SELL
                    default: UNSPECIFIED
                unit_denom:
                  type: string
                  title: |-
                    The name of denomination unit of this token that is the smallest unit
                    stored. IBC imports of this RegistryEntry convert and store funds as
                    unit_denom. Several different denom units of a token may be imported into
                    this same unit denom, they should all be stored under the same unit_denom
                    if they are the same token. When exporting a RegistryEntry where unit_denom
                    != denom, then unit_denom can, in future, be used to indicate the source of
                    funds for a denom unit that does not actually exist on chain, enabling
                    other chains to overcome the uint64 limit on the packet level and import
                    large amounts of high precision tokens easily. ie. microrowan -> rowan i.e
                    rowan -> rowan
                ibc_counterparty_denom:
                  type: string
                  title: |-
                    The name of denomination unit of this token that should appear on
                    counterparty chain when this unit is exported. If empty, the denom is
                    exported as is. Generally this will only be used to map a high precision
                    (unit_denom) to a lower precision, to overcome the current uint64 limit on
                    the packet level. i.e rowan -> microrowan i.e microrowan -> microrowan
                ibc_counterparty_chain_id:
                  type: string
  sifnode.tokenregistry.v1.Registry:
    type: object
    properties:
      entries:
        type: array
        items:
          type: object
          properties:
            decimals:
              type: string
              format: int64
            denom:
              type: string
            base_denom:
              type: string
            path:
              type: string
            ibc_channel_id:
              type: string
            ibc_counterparty_channel_id:
              type: string
            display_name:
              type: string
            display_symbol:
              type: string
            network:
              type: string
            address:
              type: string
            external_symbol:
              type: string
            transfer_limit:
              type: string
            permissions:
              type: array
              items:
                type: string
                enum:
                  - UNSPECIFIED
                  - CLP
                  - IBCEXPORT
                  - IBCIMPORT
                  - DISABLE_BUY
                  - DISABLE_SELL
                default: UNSPECIFIED
            unit_denom:
              type: string
              title: |-
                The name of denomination unit of this token that is the smallest unit
                stored. IBC imports of this RegistryEntry convert and store funds as
                unit_denom. Several different denom units of a token may be imported into
                this same unit denom, they should all be stored under the same unit_denom
                if they are the same token. When exporting a RegistryEntry where unit_denom
                != denom, then unit_denom can, in future, be used to indicate the source of
                funds for a denom unit that does not actually exist on chain, enabling
                other chains to overcome the uint64 limit on the packet level and import
                large amounts of high precision tokens easily. ie. microrowan -> rowan i.e
                rowan -> rowan
            ibc_counterparty_denom:
              type: string
              title: |-
                The name of denomination unit of this token that should appear on
                counterparty chain when this unit is exported. If empty, the denom is
                exported as is. Generally this will only be used to map a high precision
                (unit_denom) to a lower precision, to overcome the current uint64 limit on
                the packet level. i.e rowan -> microrowan i.e microrowan -> microrowan
            ibc_counterparty_chain_id:
              type: string
  sifnode.tokenregistry.v1.RegistryEntry:
    type: object
    properties:
      decimals:
        type: string
        format: int64
      denom:
        type: string
      base_denom:
        type: string
      path:
        type: string
      ibc_channel_id:
        type: string
      ibc_counterparty_channel_id:
        type: string
      display_name:
        type: string
      display_symbol:
        type: string
      network:
        type: string
      address:
        type: string
      external_symbol:
        type: string
      transfer_limit:
        type: string
      permissions:
        type: array
        items:
          type: string
          enum:
            - UNSPECIFIED
            - CLP
            - IBCEXPORT
            - IBCIMPORT
            - DISABLE_BUY
            - DISABLE_SELL
          default: UNSPECIFIED
      unit_denom:
        type: string
        title: |-
          The name of denomination unit of this token that is the smallest unit
          stored. IBC imports of this RegistryEntry convert and store funds as
          unit_denom. Several different denom units of a token may be imported into
          this same unit denom, they should all be stored under the same unit_denom
          if they are the same token. When exporting a RegistryEntry where unit_denom
          != denom, then unit_denom can, in future, be used to indicate the source of
          funds for a denom unit that does not actually exist on chain, enabling
          other chains to overcome the uint64 limit on the packet level and import
          large amounts of high precision tokens easily. ie. microrowan -> rowan i.e
          rowan -> rowan
      ibc_counterparty_denom:
        type: string
        title: |-
          The name of denomination unit of this token that should appear on
          counterparty chain when this unit is exported. If empty, the denom is
          exported as is. Generally this will only be used to map a high precision
          (unit_denom) to a lower precision, to overcome the current uint64 limit on
          the packet level. i.e rowan -> microrowan i.e microrowan -> microrowan
      ibc_counterparty_chain_id:
        type: string
